<!DOCTYPE html>
<html lang="en">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SE490_Senior_Project</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style type="text/css">
	body{
		font-family: 'Open Sans', sans-serif;
	}
	.form-control {
		box-shadow: none;
		border-radius: 4px;        
        border-color: #dfe3e8;
	}
	.form-control:focus {
		border-color: #29c68c;
		box-shadow: 0 0 8px rgba(0,0,0,0.1);
	}
	.navbar-header.col {
		padding: 0 !important;
	}	
	.navbar {
		background: #fff;
		padding-left: 16px;
		padding-right: 16px;
		border-bottom: 1px solid #dfe3e8;
		border-radius: 0;
	}
	.navbar .navbar-brand {
		font-size: 20px;
		padding-left: 0;
		padding-right: 50px;
	}
	.navbar .navbar-brand b {
		font-weight: bold;
		color: #29c68c;		
	}
	.navbar ul.nav li a {
		color: #999;
	}
	.navbar ul.nav li a:hover, .navbar ul.nav li a:focus {
		color: #29c68c !important;
	}
	.navbar ul.nav li.active > a, .navbar ul.nav li.open > a {
		color: #26bb84 !important;
		background: transparent !important;
	}
    .navbar .form-inline .input-group-addon {
		box-shadow: none;
        border-radius: 2px 0 0 2px;
		background: #f5f5f5;
        border-color: #dfe3e8;
        font-size: 16px;
    }
	.navbar .form-inline i {
		font-size: 16px;
	}
	.navbar .form-inline .btn {
		border-radius: 2px;
		color: #fff;
        border-color: #29c68c;
		background: #29c68c;
		outline: none;
	}
	.navbar .form-inline .btn:hover, .navbar .form-inline .btn:focus {
        border-color: #26bb84;
		background: #26bb84;
    }
	.navbar .search-form {
		display: inline-block;
	}
	.navbar .search-form .btn {
		margin-left: 4px;
	}
	.navbar .search-form .form-control {
		border-radius: 2px;
	}
	.navbar .login-form .input-group {
		margin-right: 4px;
		float: left;
	}
	.navbar .login-form .form-control {
		max-width: 158px;
		border-radius: 0 2px 2px 0;
	}    	
	.navbar .navbar-right .dropdown-toggle::after {
		display: none;
	}
	.navbar .dropdown-menu {
		border-radius: 1px;
		border-color: #e5e5e5;
		box-shadow: 0 2px 8px rgba(0,0,0,.05);
	}
	.navbar .dropdown-menu li a {
		padding: 6px 20px;
	}
	.navbar .navbar-right .dropdown-menu {
		width: 505px;
		padding: 20px;
		left: auto;
		right: 0;
        font-size: 14px;
	}
	@media (min-width: 1200px){
		.search-form .input-group {
			width: 300px;
			margin-left: 30px;
		}
	}
	@media (max-width: 768px){
		.navbar .navbar-right .dropdown-menu {
			width: 100%;
			background: transparent;
			padding: 10px 20px;
		}
		.navbar .input-group {
			width: 100%;
			margin-bottom: 15px;
		}
		.navbar .input-group .form-control {
			max-width: none;			
		}
		.navbar .login-form .btn {
			width: 100%;
		}
	}
</style>
</head> 
<body>
 
<!--IMPORTING Header from header.ejs under views/partial -->
  <% include ./partials/header.ejs %>
         <div class="container mt-2">
             <div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>Display DTCs and corresponding descriptions.</p>
  <hr>
  
</div>
<!--//Main container-->
<form>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="mileage">Mileage</label>
      <input type="text" class="form-control" id="mileage" placeholder="Enter Mileage" required>
    </div>
   <div class="form-group col-md-4">
      <label for="vin">Vin</label>
      <input type="text" class="form-control" id="vin" placeholder="Enter Vin # " required>
    </div>
    <div class="form-group col-md-4">
      <label for="dtc">DTCs</label>
      <input type="text" class="form-control" id="dtc" placeholder="Enter DTCs" required>
    </div>
  </div>
  <div class="form-group">
      <a href="#" id="btn-carmd"class="btn btn-success" >Diagnose Me!</a>
      
  </div>
  
</form>

 
         </div>
   

<div class="container">
  <div class="card" id="carmdresultpage">
<div class="card-header">
Date
<strong id="currentdate"> 01/01/01/2018</strong> 
  <!--<span class="float-right"> <a href="#" class="btn btn-secondary"><i class="fa fa-print"></i> Print</a></span>-->

</div>
<div class="card-body">
<div class="row mb-4">

</div>

<div class="table-responsive-sm">
<table class="table table-striped">
<thead>
<tr>
<th class="center">Code</th>
<th>Urgency_description</th>
<th>Effect_on_vehicle</th>
<th>Responsible_system</th>  
<th>Tech_definition</th> 
</tr>
</thead>
<tbody>
<tr>
<td class="center" id="code"></td>
<td class="left strong" id="urgency_desc"></td>
<td class="left" id="effect_on_vehicle"></td>

<td class="right" id="responsible_system"></td>
  <td class="center" id="tech_definition"></td>
</tr>
 
</tbody>
</table>
</div>
 

</div>
</div>
</div>
    <script>
        var currentdate=new Date().toLocaleDateString();
        document.getElementById("currentdate").innerHTML=currentdate;
    </script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="static/carmd.js"></script>
</body>

</html>